/* CSS by Aliya Ikis */
/* Color Palette 
dark red= #401B22
light grey= #D9D0C7
light pink= #F2C7BD
light brown= #BF9D95
dark pink= #BF6363
*/

/* GLOBAL (base) MOBILE FIRST */
body {
    background-color: #D9D0C7;
    color: #401B22;
    font-family: Arial, sans-serif;
    margin: 0;
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";

}

header {
    grid-area: header;
    background-color: #401B22;
    color: #D9D0C7;
    padding: 1rem;
    text-align: center;
}
header p {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
    font-style: italic;

    
}

nav {
    grid-area: nav;
    background-color: #BF9D95;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
nav a
{
    color: #401B22;
    text-decoration: underline;
    margin: 0.5rem;
    font-weight: bold;
    display: inline-block;
    padding: 1rem ;
}
nav a:hover
{
    background-color: #BF6363;
    color: #D9D0C7;
    width: 100%;

}
main {
    grid-area: main;
    padding: 1rem;


}
main a
{
    color: #BF6363;
    text-decoration: underline;
    font-weight: bold;
}


h2 {
    text-align: center
    font-weight: bold;
}
h3 {
    color: #401B22;
}

footer {
    grid-area: footer;
    background-color: #401B22;
    color: #D9D0C7;
    text-align: center;
    padding: 0.5rem;
    
}

.card-row section
{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
    border: 0.5px dotted #401B22;
    background-color: #BF9D95;
    
}
.card
{
    padding: 1rem;
}
@media screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    header, nav, footer {
        grid-column: 1 / -1;
    }
    .card-row {
        display: flex;
        flex-wrap: nowrap;  

}
}


